$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$color-blue-sky : #006a8e;
$color-red: rgb(220, 39, 41);
$color-red-hover: rgb(240, 45, 47);

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  background-color: white
}
div.header-banner {
  background-image: url('../images/header-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 50px;
}


.navbar.navbar-bbb {
  background-color: $color-blue-sky;
  margin-bottom:0px;
  border-width: 0px;
}

.navbar-bbb .navbar-brand{
  color: $color-red;
  font-weight: bolder;
}
.navbar-bbb .navbar-brand:hover{
  color: $color-red-hover;
}

.navbar-bbb .navbar-nav > li > a {
  color:#ddd;
}
.navbar-bbb .navbar-nav > li > a:hover {
  color:#fff;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
