<div class="row">
<div class="header-image col-md-12" >
  <img src="images/header-3-cell.png" width="100%"/>
</div>
</div>
<div class="row ">
  <div class="col-md-6 text-justify sale-speech">
  <sale-speech/>
  </div>
  <div class="col-md-6">
    <h1>Que se passe-t-il?</h1>
    <p>Maecenas eu quam non massa consequat pellentesque sit amet a augue. Quisque in sapien tellus. Maecenas eget quam bibendum, finibus nisi a, pharetra risus.</p>
    <p>In  in nisi egestas, malesuada tortor id, venenatis lectus.</p>
  </div>
</div>
