<div class="sale-speech text-justify">
  <h1>Babam Bolei!</h1>
    <p>C’est l’instant Waoow! C’est cette sensation pétillante qui nous traverse quand on perçoit la magie dans le monde qui nous entoure.</p>
    <p>Les enfants sont très souvent, naturellement, spontanément dans ce ressenti.</p>
    <p>Nous souhaitons que les enfants prennent conscience de ces manifestations de l’intelligence du vivant; qu’ils soient fascinés et qu’ils aient envie de les partager.</p>
    <p>Les enfants, de par le monde, sont co-créateurs de bandes dessinées et d’ateliers qui illustrent ces phénomènes extraordinaires du vivant. Ces initiatives lèvent un voile sur les interconnections entre les mondes humain, animal, végétal et minéral.</p>
    <p>L’Association Babam Bolei se projette aussi à long terme. Le but ultime est le développement d‘une génération Babam Bolei, ici et ailleurs, respectueuse de soi, des autres et de l’environnement. Les enfants d'aujourd'hui deviendront alors des pionniers, embarquant les plus jeunes dans l’aventure et perpétuant ainsi l’esprit Babam Bolei.</p>
</div>